@model NotebookWebApp.Models.Notebook

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены в том, что хотите удалить этот элемент?</h3>
<fieldset>
    <legend>Notebook</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Model)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RAM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RAM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HDD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HDD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Monitor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Monitor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Manufacturer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manufacturer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Processor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Processor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Вернуться", "Index")
    </p>
}
